MathUtils.generateUUID() produces upper-case characters

<!-- Ignoring this template may result in your bug report getting deleted -->

**Describe the bug**

Three.js UUID generation logic outputs upper-case characters, while UUID spec ([RFC 4122](https://datatracker.ietf.org/doc/html/rfc4122)) requires output to be lower-case.

Quote from RFC:

> Each field is treated as an integer and has its value printed as a
> zero-filled hexadecimal digit string with the most significant
> digit first.  The hexadecimal values "a" through "f" are output as
> lower case characters and are case insensitive on input.

[This StackOverflow answer](https://stackoverflow.com/a/13833488/5082182) also points to "INTERNATIONAL STANDARD ISO/IEC 9834-8 RECOMMENDATION ITU-T X.667" which states (emphasis mine):

> 6.5.4 Software generating the hexadecimal representation of a UUID **shall not use upper case letters**. NOTE – It is recommended that the hexadecimal representation used in all human-readable formats be restricted to lower-case letters. Software processing this representation is, however, required to accept both upper and lower case letters as specified in 6.5.2.

Other sources:
- [Wikipedia](https://en.wikipedia.org/wiki/Universally_unique_identifier): "RFC 4122 Section 3 requires that the characters be generated in lower case, while being case-insensitive on input."

**To Reproduce**

Steps to reproduce the behavior:
1. Call `MathUtils.generateUUID()`
2. Observe output to contain upper-case letters

**Expected behavior**

The generated UUID should only have lower-case characters, as per RFC

**Platform:**

 - Three.js version: r138


I've searched in old issues and PRs but could not find the reason why `toUpperCase()` at all is used in `generateUUID()` 🤔 .

Git blame suggests it was added in this commit: https://github.com/mrdoob/three.js/commit/b4812b4a115d9543687b75f94e5f6ea6867eccf7

I think at some point we made it lowercase but I preferred uppercase for aesthetic reasons 😅

But at this point I don't really mind either way.